*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

audio{
    position: absolute;
    display: block;
    margin: auto;
    bottom: 20px;
    left: 0; right: 0;
    width: 94%;
}

#VRButton{
    top: 20px !important;
    bottom: auto !important;
}